{% extends 'base.html' %}

{% load static %}

{% block content %}
            
                    
                       

                
                       
                        {% include 'includes/alerts.html' %}
                        
                            {{ form.errors }}
                        
                        <!-- dashboard inner -->
            
                        
                            <div class="container-fluid">
                               <div class="row column_title">
                                  <div class="col-md-12">
                                     <div class="page_title">
                                        <h2>Create Region</h2>
                                     </div>
                                  </div>
                               </div>
             
             
             
                               <!-- table -->
                               <div class="col-md-12">
                                  <div class="white_shd full margin_bottom_30">
             
                                     <div class="table_section padding_infor_info">
                                        <div class="table-responsive-sm">
                                           
                                            <table class="table">
                                                <thead class="thead-dark">
                                                   <tr>
                                               
                                                      <th>Region Name</th>
                                                     
                                                      <th>Action</th>
                                                    
                                                      
                                                   </tr>
                                                </thead>
                                                <tbody>
                                                  {% for region in region %}
                                                     <tr>
                                                        <!-- <td><img style="width: 40px; height: 50px;" class="img-responsive rounded-circle" src="{{ member.image.url }}" 
                                                           onerror="this.src='{% static 'images/avatar.jpg' %}'"  alt="#" /></td> -->
                                                        <td>{{ region.region_name }}</td>
                                                       
                                                        <td><a href="{% url 'update_region' region.id %}"style="font-weight: bold; color: blue;" >Edit</a>/<a href="{% url 'region_delete' region.id %}" style="font-weight: bold; color: red;" >Delete</a></td>
                                                       

                                                       
                                                        
                                                     </tr>
                                                     {% endfor %}
                                              
               
                                                </tbody>
                                             </table>
                                           <a href="{% url 'create_region' %}" style="color: green; font-weight: bold;">Create a New Region</a>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                       

             
                               <!-- footer -->
                             
                            </div>
                            <!-- end dashboard inner -->
                         </div>
                    


                    
     


{% endblock %}