{% extends "base.html" %}



{% block content %}



<div class="container-fluid">
  <div class="row">
 
    
        </div>
    

        <div>
              <!-- Chart of Accoutwill come here -->
        </div>

        <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="page_title">
                     <h2>User Administration</h2>
                  </div>
               </div>

               <div class="col-md-4">

                  <div class="account_setting  py-5 fs-1 bg-white">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'registeruser' %}" class="text-center">
                        <h5 class="my-4">Register User</h5>
                     </a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'display_all_user' %}" class="text-center">
                        <h5 class="my-4">Display All User</h5>
                     </a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="#" class="text-center">
                        <h5 class="my-2">Define Cash/Bank/Transfer</h5>
                     </a>
                  </div>
               </div>
               
               <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define Cash/Bank/Transfer</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define Cash/Bank/Transfer</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-4">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-4">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-4">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-4">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-4">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
           
            </div>
            <!-- footer -->
            <!-- <div class="container-fluid">
            <div class="footer">
               <p>Copyright &copy; 2023 The CityGate Church. All rights reserved.
               </p>
            </div>
         </div> -->
         </div>



<!-- <h1>Chart of Account</h1> -->



</div>
  
  {% endblock %}