{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
          <div class="col-md-12">
                <div class="page_title">
                      <h2>Create Business Sector</h2>
                </div>
          </div>
          <!-- form -->
          <form method="POST" class="chart_of_account p-5 shadow-lg rounded rounded-5">
            {% csrf_token %}
            {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li style="font-size: 30px; color: brown; font-weight: bold;"  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
            {{ form.errors }}
              <div class="form-row">
                  <div class="form-group col-md-8">
                        <label for="general_ledger_accout_name">Busniess Name </label>
                        <input type="text" class="form-control bg-light"
                              id="general_ledger_accout_name"
                              name="sector_name">
                  </div>
                    <div class="form-group col-md-4">
                  
                    </div>
                 

                  

                

         
          


                    

                  <button type="submit"
                  class="btn w- btn-success mt-4 shadow-sm">Add</button>
                    
                          
                    <!-- <button type="submit"
                          class="btn w- btn-success mt-4 shadow-sm">Delete</button> -->
              </div>
             
              <a href="{% url 'bus_sec_list' %}" style="color: green; font-weight: bold;">Back to Bisness Sector List</a>
        </form>
      
  
                <!-- Chart of Accoutwill come here -->
          </div>
  
  
    </div>
  

{% endblock %}
