{% extends "base.html" %}



{% block content %}



<div class="container-fluid">
  <div class="row">
 
    
        </div>
    

        <div>
              <!-- Chart of Accoutwill come here -->
        </div>

        <div class="container-fluid">
            <div class="row">
               <div class="col-md-12">
                  <div class="page_title">
                     <h2>Product Settings</h2>
                  </div>
               </div>

               <div class="col-md-3 mb-3">

                  <div class="account_setting  py-5 fs-1 bg-white">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'calculate_interest' %}" class="text-center">
                        <h5 class="my-2">Savings Interest</h5>
                     </a>
                  </div>
               </div>



               <div class="col-md-3 mb-3">

                  <div class="account_setting  py-5 fs-1 bg-white">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'add_interest_rate' %}" class="text-center">
                        <h5 class="my-2">Set Savings Interest</h5>
                     </a>
                  </div>
               </div>

               <div class="col-md-3 mb-3">

                  <div class="account_setting  py-5 fs-1 bg-white">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'account_list' %}" class="text-center">
                        <h5 class="my-2">Loan Product Settings</h5>
                     </a>
                  </div>
               </div>
               <div class="col-md-3 mb-3">

                  <div class="account_setting  py-5 fs-1 bg-white">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'choose_to_create_loan' %}" class="text-center">
                        <h5 class="my-2">Loan Account</h5>
                     </a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'internal_accounts' %}" class="text-center">
                        <h5 class="my-2">Internal Account</h5>
                     </a>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                     <div class="couter_icon  col-md-12">
                        <i class="couter_icon fa fa-user yellow_color"></i>
                     </div>
                     <a href="{% url 'customer_list' %}" class="text-center">
                        <h5 class="my-2">Display All Customer</h5>
                     </a>
                  </div>
               </div>
               
               <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">User Define</h5>
                   </a>
                </div>
             </div>
           
             <div class="col-md-3 mb-3">
                <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define Cash/Bank/Transfer</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
             <div class="col-md-3">
                <div class="account_setting  py-5 fs-1 bg-white  rounded rounded-5">
                   <div class="couter_icon  col-md-12">
                      <i class="couter_icon fa fa-user yellow_color"></i>
                   </div>
                   <a href="#" class="text-center">
                      <h5 class="my-2">Define fixed Assets Depeciation</h5>
                   </a>
                </div>
             </div>
           
            </div>
            <!-- footer -->
            <!-- <div class="container-fluid">
            <div class="footer">
               <p>Copyright &copy; 2023 The CityGate Church. All rights reserved.
               </p>
            </div>
         </div> -->
         </div>



<!-- <h1>Chart of Account</h1> -->



</div>
  
  {% endblock %}