{% extends 'base.html' %}

{% load static %}

{% block content %}
      
           
                                    
     
            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                          <div class="page_title">
                                  <h2>Loan Approval</h2>
                          </div>
                    </div>
                </div>
      
                <div class="container">
                        <!-- <header>Customer Account</header> -->

                        <a href="{% url 'loans' %}" style="color: green; font-weight: bold; text-align: right; display: block;">Loans Menu</a>
                        <form method="POST" enctype="multipart/form-data">
                         {% csrf_token %}
                         {% if messages %}
                         <ul class="messages">
                             {% for message in messages %}
                                 <li style="font-size: 30px; color: brown; font-weight: bold;"  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                             {% endfor %}
                        
                         </ul>
                     {% endif %}
                     <h6 style="color: red;" >{{ form.errors }}</h6>
                     {% include 'includes/alerts.html' %}
                 
                  
                           <div class="form first">
                               <div class="details personal">
                                <!-- <div align="right">
                                    <div align="right" style="color: firebrick;font-weight: bold;">
                                        <a href="{% url 'customer_list' %}" style="color: green; font-weight: bold;">Display List of Customers</a>
                                     </div>
                                 
                               
                                </div> -->

                           
                                 
                 
                 
                                <!-- <div class="image-preview-container">
                                    <div class="preview">
                                        <img id="preview-selected-image" />
                                    </div>
                                   
                                    <label for="file-upload">Choose Photo</label>
                               
                                    <input type="file" id="file-upload" name="photo" value="{{customer.photo.url}}" accept="image/*" onchange="previewImage(event);">

                                </div> -->
                              
          
                                   <div class="fields">
                                      
                                           <input type="hidden"  value="{{ member.team_sup.username}}" name="user" required>
                                         
                                           <!-- <div class="input-field">
                                            <label>Branch</label>
                                            <select id="team_lead" name="branch" required>
                                                
                                                {% for cust_branch in cust_branch %}
                                                    <option value="{{ cust_branch.id }}">{{ cust_branch.branch_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> -->

                                        <!-- <div class="input-field">
                                            <label for="fName">Branch</label>
                                            <span class="form-control bg-light">{{ user.branch }}</span>
                                          
                                        </div> -->

                                        <!-- <input type="hidden" name="customer" value="{{ customer.id }}"> -->

                                      
                                        <input type="text" name="branch" value="{{ user.branch }}" hidden>
                                        
                                       <div class="input-field">
                                           <label>First Name*</label>
                                           <input type="text" class="form-control bg-light" name="first_name" value="{{customers.first_name}}" readonly>
                                         
                                       </div>
                                        <div class="input-field">
                                           <label>Middle Name</label>
                                           <input type="text" class="form-control bg-light" name="middle_name" value="{{customers.middle_name}}" readonly>
                                       </div>
                                        <div class="input-field">
                                           <label>Last Name*</label>
                                           <input type="text" class="form-control bg-light" name="last_name" value="{{customers.last_name}}" readonly>
                                        
                                       </div>
                                       <div class="input-field">
                                        <label>Account Type</label>
                                    
                                        <input type="text" class="form-control bg-light"  id="accountNoInput1" name="gl_no"
                                        value="{{customer.gl_no}}" readonly>
                                    
                                    </div>
                                    <div class="input-field">
                                          <label for="accountNoInput">Account No.:</label>
                                          <input type="text" class="form-control bg-light"  id="accountNoInput1" name="ac_no_cashier"
                                          value="{{customer.ac_no}}" readonly>
                                        
                                      </div>

                                      <div class="input-field">
                                        <label>Application Date</label>
                                        <input type="date" name="appli_date" value="{% now ;Y-m-d' %}" required disabled>
                                        
                                    </div>

                                       <div class="input-field">
                                        <label>Approve Date</label>
                                        <input type="date" name="approval_date"   value="{% now ;Y-m-d' %}" required disabled>

                                    </div>

                                    <div class="input-field">
                                        <label>Disbursement Date</label>
                                        <input type="date" name="disbursement_date" id="ses_date"  value="{{company_date}}" required>

                                    </div>
                                  
                                        <input type="date" name="ses_date"   value="{% now ;Y-m-d' %}" required hidden>

                                   
                                       <div class="input-field">
                                        <label for="deposit_description">Loan Amount:</label>
                                        <!-- <input type="number"  class="form-control bg-light"
                                            placeholder="0.00" name="loan_amount"> -->
                                            <!-- {{form.loan_amount}} -->
                                            <input type="text" class="form-control bg-light"  id="accountNoInput1" name="amount" value="{{ form.loan_amount.value|default:'' }}" readonly>

                                    </div>
                                    <div class="input-field">
                                        <label for="deposit_description">Annual Int Rate:</label>
                                        <!-- <input type="number"  class="form-control bg-light"
                                            placeholder="0.00000" name="interest_rate"> -->
                                          
                                            <input type="text" class="form-control bg-light"  id="accountNoInput1" name="interest_rate" value="{{ form.interest_rate.value }}" readonly>
                                    </div>
                                    <div class="input-field">
                                        <label for="deposit_description">No. of Frequency:</label>
                                        {{form.payment_freq}}
                                    </div>

                                    <div class="input-field">
                                        <label for="deposit_description">Interest Method:</label>
                                        {{form.interest_calculation_method}}
                                    </div>
                                    <div class="input-field">
                                        <label for="deposit_description">Loan Officers:</label>
                                        {{form.loan_officer}}
                                    </div>
                                    <div class="input-field">
                                        <label for="deposit_description">Business Sector:</label>
                                        {{form.business_sector}}
                                    </div>

                                    <div class="input-field">
                                        <label for="deposit_description">No of Installment:</label>
                                        {{form.num_install}}
                                    </div>


                              


                                 

                                   




                                    <div class="input-field">
                                        <label for="gl_no">Funding Account:</label>
                                        <select name="gl_no_cashier" id="gl_no">
                                            {% for record in amounts %}
                                                <option value="{{ record.gl_no }}">GL No: {{ record.gl_no }} - Total Amount: {{ record.total_amount }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                 
                                 
                                       
                 
                                    <button class="button" style="color: white;">
                                       <a href="{% url 'loan_schedule' customer.id %}" class="btnText">View Repayment Plan</a>
                                    </button>

                                
                                     

                                    
                                        <!-- <label for="accountNoInput">Account No.:</label> -->
                                        <input type="text" class="form-control bg-light"  id="accountNoInput1" name="ac_no"
                                        value="{{customer.ac_no}}" hidden>
                                      >
                                          <!-- <label for="accountNoInput">Account No.:</label> -->
                                          <input type="text" class="form-control bg-light" id="accountNoInput1" name="int_to_recev_gl_dr" value="{{ account.int_to_recev_gl_dr }}" >
                                          <input type="text" class="form-control bg-light" id="accountNoInput1" name="int_to_recev_ac_dr" value="{{ account.int_to_recev_ac_dr }}" >
                                          <input type="text" class="form-control bg-light" id="accountNoInput1" name="unearned_int_inc_gl" value="{{ account.unearned_int_inc_gl }}" >
                                          <input type="text" class="form-control bg-light" id="accountNoInput1" name="unearned_int_inc_ac" value="{{ account.unearned_int_inc_ac }}" >
                                          
                                       

<!--                                     
                                        <div class="input-field">
                                           <label>Status*</label>
                                          {{form.status}}
                                       </div> -->

                                       <button class="sumbit">
                                        <span class="btnText">Approve</span>
                                        <i class="uil uil-navigator"></i>
                                    </button>
                                 

        
                                    
                                   </div>
                               </div>
                 
                             
                 
                               <!-- <button class="sumbit">
                                           <span class="btnText">Submit</span>
                                           <i class="uil uil-navigator"></i>
                                       </button> -->

                                       <!-- <button type="submit" class="btn w-100 btn-danger mt-4 shadow-sm">Submit</button> -->
                               </div> 
                           </div>
                 
                        
                       </form>
                </div>
      
                      
             </div>
         
             <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var sessionDateInput = document.getElementById('ses_date');
                    var companyDate = '{{ company_date }}'; // Assuming company_date is in the 'YYYY-MM-DD' format
            
                    sessionDateInput.addEventListener('change', function() {
                        var selectedDate = new Date(sessionDateInput.value);
                        var companyDateObj = new Date(companyDate);
            
                        if (selectedDate > companyDateObj) {
                            alert('Please select a date not greater than the session date.');
                            sessionDateInput.value = '{{ company_date }}'; // Clear the input value
                        }
                    });
                });
            </script>    
                 
            
                  {% endblock %}