{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="page_title">
                <h2>Loan Loan Due </h2>
            </div>
        </div>
        <!-- SearchTable -->
        
        <div class="container deposit p-5 shadow-lg rounded rounded-5">
            
            <div class="row mt-3 table-row1">
                <a href="{% url 'loans' %}" style="color: green; font-weight: bold; text-align: right; display: block;">Loans Menu</a>
                
                
                <div class="col-md-3 mb-3">
                    <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                       <div class="couter_icon  col-md-3">
                          <i class="couter_icon fa fa-user yellow_color"></i>
                       </div>
                       <a href="{% url 'loans' %}" class="text-center">
                          <h5 class="my-2">Loan Simulation</h5>
                       </a>
                    </div>
                 </div>
                 <div class="col-md-3 mb-3">
                    <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                       <div class="couter_icon  col-md-3">
                          <i class="couter_icon fa fa-user yellow_color"></i>
                       </div>
                       <a href="{% url 'loans' %}" class="text-center">
                          <h5 class="my-2">Loan Simulation</h5>
                       </a>
                    </div>
                 </div>
                 <div class="col-md-3 mb-3">
                    <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                       <div class="couter_icon  col-md-3">
                          <i class="couter_icon fa fa-user yellow_color"></i>
                       </div>
                       <a href="{% url 'loans' %}" class="text-center">
                          <h5 class="my-2">Loan Simulation</h5>
                       </a>
                    </div>
                 </div>
                 <div class="col-md-3 mb-3">
                    <div class="account_setting  py-5 fs-1 bg-white shadow-lg rounded rounded-5">
                       <div class="couter_icon  col-md-3">
                          <i class="couter_icon fa fa-user yellow_color"></i>
                       </div>
                       <a href="{% url 'loans' %}" class="text-center">
                          <h5 class="my-2">Loan Simulation</h5>
                       </a>
                    </div>
                 </div>
                <div class="col-md-12 justify-content-center text-center m-auto">
                    <div class="input-group mb-3">
                        
                        <input type="text" class="form-control form-control-lg bg-white border"
                            placeholder="Search..." id="searchInput">
                        <div class="">
                            <button class="btn btn-success py-3" type="button"
                                onclick="searchTable()">Search</button>
                        </div>
                    </div>

                    <!-- table -->
                    <table class="table table-responsive table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Branch</th>
                                <th class="teller">Teller Fullname</th>
                                <th class="teller">Teller Account No.</th>
                                <th class="teller">Teller GL No.</th>
                                <th>Passport</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>GL No.</th>
                                <th>Account No.</th>
                                <th>Total Principal</th>
                                <th>Total Interest</th>
                                <th>Balance</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                                <tr>
                                    <!-- Customer details -->
                                    <td>{{ customer.branch }}</td>
                                    <td class="teller">{{ customer.customer.first_name }} {{ customer.customer.last_name }}</td>
                                    <td class="teller">{{ customer.ac_no }}</td>
                                    <td class="teller">{{ customer.gl_no }}</td>
                                    <td><img src="" class="rounded-circle w-25" alt=""></td>
                                    <td>{{ customer.customer.first_name }}</td>
                                    <td>{{ customer.customer.last_name }}</td>
                                    <td>{{ customer.gl_no }}</td>
                                    <td>{{ customer.ac_no }}</td>
                                    <!-- Total principal and interest for the customer -->
                                    <td>{{ customer.total_principal }}</td>
                                    <td>{{ customer.total_interest }}</td>
                                    <td>N{{ customer.loan_amount|default:"0.00"|floatformat:2 }}</td>
                                    <td>
                                        <button class="btn shadow-sm" style="background-color: #2E8B57;" type="button">
                                            <a href="{% url 'loan_repayment' customer.id %}" style="font-weight: bold; color: white;">Approve</a>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
