{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
          <div class="col-md-12">
                <div class="page_title">
                      <h2>Update Account Officer Branch</h2>
                </div>
          </div>
          <!-- form -->
          <form method="POST" class="chart_of_account p-5 shadow-lg rounded rounded-5">
              {% csrf_token %}
              {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li style="font-size: 30px; color: brown; font-weight: bold;"  {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  <h6 style="color: red;" >{{ form.errors }}</h6>
              <div class="form-row">
                <div class="form-group col-md-4">
                      <label for="general_ledger_accout_no">Branch Code .</label>
                   {{form.branch}}
               
                </div>
                <div class="form-group col-md-4">
                    <label for="general_ledger_accout_no">Branch Code .</label>
                  {{form.user}}
              </div>

         

            

              <div class="form-group col-md-4">
              
              </div>

     
      


                

               
                <button type="submit"
                      class="btn w- btn-success mt-4 shadow-sm">Add</button>
                      
                <!-- <button type="submit"
                      class="btn w- btn-success mt-4 shadow-sm">Delete</button> -->
          </div>
               
                <a href="{% url 'account_officer_list' %}" style="color: green; font-weight: bold;">Back to Account Officer List</a>
          </form>
          
  
          <div>
                <!-- Chart of Accoutwill come here -->
          </div>
  
  
    </div>
  
  </div>
{% endblock %}
