{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row">
  </div>

  <div>
    <!-- Chart of Account will come here -->
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page_title">
          <h2>User Define Code</h2>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-user text-primary"></i>
          </div>
          <a href="{% url 'create_account_officer' %}" class="text-center">
            <h5 class="my-2">Account Officer</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white shadow-lg rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-map-marker-alt text-success"></i>
          </div>
          <a href="{% url 'create_region' %}" class="text-center">
            <h5 class="my-2">Create Region</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white shadow-lg rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-tags text-warning"></i>
          </div>
          <a href="{% url 'create_category' %}" class="text-center">
            <h5 class="my-2">Create Category</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-id-card text-danger"></i>
          </div>
          <a href="{% url 'create_id_type' %}" class="text-center">
            <h5 class="my-2">Create ID Card Type</h5>
          </a>
        </div>
      </div>

      <div class="col-md-12">
        <!-- Empty space to separate sections if needed -->
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-calculator text-primary"></i>
          </div>
          <a href="#" class="text-center">
            <h5 class="my-4">Define Fixed Assets Depreciation</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-calculator text-info"></i>
          </div>
          <a href="#" class="text-center">
            <h5 class="my-4">Define Fixed Assets Depreciation</h5>
          </a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="account_setting py-5 fs-1 bg-white rounded rounded-5">
          <div class="couter_icon col-md-12">
            <i class="couter_icon fa fa-calculator text-success"></i>
          </div>
          <a href="#" class="text-center">
            <h5 class="my-4">Define Fixed Assets Depreciation</h5>
          </a>
        </div>
      </div>

    </div>
    <!-- footer -->
    <!-- <div class="container-fluid">
    <div class="footer">
       <p>Copyright &copy; 2023 The CityGate Church. All rights reserved.
       </p>
    </div> -->
  </div>

<!-- <h1>Chart of Account</h1> -->

</div>

{% endblock %}
